// Template file for pipeline configuration

// Pipeline parameters

params {

    // INPUT FILES

    sample_metadata = '/cfs/klemming/projects/snic/sllstore2017093/mammoth/bilal/mitogenome_dating_pipeline/test_dataset_2/PolarBearsMetadata.xlsx'

    // Enter full path to the fasta file with multiple sequenced aligment
    fasta       = '/cfs/klemming/projects/snic/sllstore2017093/mammoth/bilal/mitogenome_dating_pipeline/test_dataset_2/PolarBears_10x.final_5outgroup.mafft.VNTRexluded.fasta'

    // Enter ful path to the annotatio gff file
    gff         = '/cfs/klemming/projects/snic/sllstore2017093/mammoth/bilal/mitogenome_dating_pipeline/test_dataset/NC_007596.2.VDP2021-yuka.gff3'

    // Enter full path to the priors table file in csv format
    priors      = '/cfs/klemming/projects/snic/sllstore2017093/mammoth/bilal/mitogenome_dating_pipeline/test_dataset/priors.yuka.uniform.csv'

    // Enter full path to the partition file in xx format
    partition   = '/cfs/klemming/projects/snic/sllstore2017093/mammoth/bilal/mitogenome_dating_pipeline/test_dataset/partitions.xlsx'

    // Pipeline steps to be run (comma-separated list, full list: 'single_sample_dating,generate_XML,run_beast')
    steps       = 'fasta_processing,generate_XML,run_beast'




    // PARAMETERS


    single_sample_dating = true

    // Enter the number of MCMC chain length for BEAST
    chainlength     = '10000'

    // Enter the number
    log_step        = '1000'

    // Enter partition list. e.g., "tRNA, rRNA, CDS, D_loop"
    partition_list  = '"tRNA, rRNA, CDS, D_loop"'

    // Enter no-dated list. e.g., "ND, P."
    nd_list       = '"ND, P."'

    //Enter taxon set. e.g., "(L., P.), (M.), (M., E.), (ND, P.)"
    taxon_set = '"(L., P.), (M.), (M., E.), (ND, P.)"'



    // OUTPUTS
    // Enter path to output directory
    outdir             = 'results'

    // Mode of copying results from the work directory, values 'symlink' or 'copy'
    publish_mode       = 'copy'
}

// Nextflow parameters

// Execute the script using the cached results, useful to continue executions that was stopped by an error.
resume                   = true

// If run with -profile conda or -profile mamba, provide path to centralized directory with conda environments
conda.cacheDir           = null

// If run with -profile singularity, provide path to centralized directory with singularity images
singularity.cacheDir     = null

// Cluster options, e.g. for the UPPMAX compute project (like '-A snicxxx-yyy')
process.clusterOptions   = null

