// Adapted from https://github.com/nf-core/configs/blob/master/conf/pdc_kth.config
process {
    executor       = 'slurm'
    clusterOptions = {
        def clusterOpts = [ "-A ${params.project} ${params.clusterOptions ?: ''}" ]
        if (task.time < 7.d && task.memory <= 222.GB && task.cpus < 256) {
            clusterOpts << '-p shared'
        } else if (task.time < 1.d) {
            // Shortish
            if (task.memory > 222.GB) {
                clusterOpts << '-p memory,main'
            } else {
                clusterOpts << '-p main'
            }
        } else {
            // Not shortish
            if (task.memory > 222.GB) {
                clusterOpts << '-p memory'
            } else {
                clusterOpts << '-p long'
            }
        }
        clusterOpts.join(' ')
    }

    // There is no node local storage, but there is a scratch space.
    scratch        = '$PDC_TMP'


    ///////////////////////////////////////////////////////////////////////////////////////////
    // Resource allocation for each process - update as needed
    ///////////////////////////////////////////////////////////////////////////////////////////

    withLabel: process_rename_fasta         { cpus = 2;  memory = 4.GB;   time = 1.h }
    withLabel: process_split_fasta          { cpus = 2;  memory = 4.GB;   time = 1.h }
    withLabel: process_generate_xml         { cpus = 2;  memory = 4.GB;   time = 1.h }
    withLabel: process_beast                { cpus = 16; memory = 14.GB;  time = 120.h }
    withLabel: process_beast_log_parser     { cpus = 2;  memory = 4.GB;   time = 1.h }
    withLabel: process_collect_results      { cpus = 2;  memory = 4.GB;   time = 1.h }

}
executor {
    name            = 'slurm'
    queueSize       = 300
    pollInterval    = '5 sec'
    exitReadTimeout = '60 sec'
    submitRateLimit = '3 sec'
}

apptainer {
    enabled        = true
    envWhitelist   = 'PDC_TMP'
}