// Adapted from https://github.com/nf-core/configs/blob/master/conf/pdc_kth.config

def clusterOptionsCreator = { mem, time, cpus ->
    List clusterOpts = [ "-A $params.project ${params.clusterOptions ?: ''}" ]
    if (time < 7.d && mem <= 222.GB && cpus < 256) {
        clusterOpts << '-p shared'
    } else if (time < 1.d) {
        // Shortish
        if (mem > 222.GB) {
            clusterOpts << '-p memory,main'
        } else {
            clusterOpts << '-p main'
        }
    } else {
        // Not shortish
        if (mem > 222.GB) {
            clusterOpts << '-p memory'
        } else {
            clusterOpts << '-p long'
        }
    }
    return clusterOpts.join(' ')
}

process {
    executor       = 'slurm'
    clusterOptions = { clusterOptionsCreator(task.memory, task.time, task.cpus) }
    // There is no node local storage, but there is a scratch space.
    scratch        = '$PDC_TMP'

    // Default process specifications for Dardel
    withLabel: process_rename_fasta         { cpus = 1;  memory = 2.GB;  time = 10.min }
    withLabel: process_split_fasta          { cpus = 1;  memory = 2.GB;  time = 10.min }
    withLabel: process_generate_xml         { cpus = 1;  memory = 2.GB;  time = 10.min }
    withLabel: process_beast                { cpus = 4;  memory = 4.GB;  time = 30.min }
    withLabel: process_beast_log_parser     { cpus = 1;  memory = 2.GB;  time = 10.min }
    withLabel: process_collect_results      { cpus = 1;  memory = 2.GB;  time = 10.min }

}
executor {
    name            = 'slurm'
    queueSize       = 300
    pollInterval    = '5 sec'
    exitReadTimeout = '60 sec'
    submitRateLimit = '3 sec'
}

apptainer {
    enabled        = true
    envWhitelist   = 'PDC_TMP'
}