// Profile for mjolnir cluster at Globe Institute, University of Copenhagen
// Adapted from nf-core/configs

params {
    config_profile_description = 'Section for Hologenomics and Section for Molecular Ecology and Evolution @ Globe Institute, University of Copenhagen - mjolnir profile'
    config_profile_contact     = 'Bent Petersen (@bentpetersendk)'
    config_profile_url         = 'https://globe.ku.dk/research/'
    max_memory                 = 750.GB
    max_cpus                   = 48
    max_time                   = 336.h
}

process {
    executor       = 'slurm'
    resourceLimits = [
        memory: 750.GB,
        cpus: 48,
        time: 336.h
    ]

    clusterOptions = '-p cpuqueue --qos=normal'

    beforeScript = 'module load singularity/3.8.7'

    withLabel: process_rename_fasta         { cpus = 2;  memory = 4.GB;   time = 1.h }
    withLabel: process_split_fasta          { cpus = 2;  memory = 4.GB;   time = 1.h }
    withLabel: process_generate_xml         { cpus = 2;  memory = 4.GB;   time = 1.h }
    withLabel: process_beast                { cpus = 20; memory = 50.GB;  time = 100.h }
    withLabel: process_beast_log_parser     { cpus = 2;  memory = 4.GB;   time = 1.h }
    withLabel: process_collect_results      { cpus = 2;  memory = 4.GB;   time = 1.h }

}

executor {
    name            = 'slurm'
    queueSize       = 20
    pollInterval    = '5 sec'
    exitReadTimeout = '60 sec'
    submitRateLimit = '3 sec'
}


singularity {
    enabled        = true
    autoMounts     = true
    envWhitelist   = 'PDC_TMP'
    cacheDir       = "${System.getenv('HOME')}/.singularity_cache_mitodate"
}

