process {
    // RENAMEFASTA
    withName: 'RENAMEFASTA' {
        publishDir = [
            path: { "${params.outdir}/fastas/" },
            mode: params.publish_mode,
            // Groovy ternary operator: https://groovy-lang.org/operators.html#_ternary_operator
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // SPLITFASTA
    withName: 'SPLITFASTA' {
        publishDir = [
            path: { "${params.outdir}/fastas/" },
            mode: params.publish_mode,
            // Groovy ternary operator: https://groovy-lang.org/operators.html#_ternary_operator
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // GENERATEXML
    withName: 'GENERATEXML' {
        publishDir = [
            path: { "${params.outdir}/xml/" },
            mode: params.publish_mode,
            // Groovy ternary operator: https://groovy-lang.org/operators.html#_ternary_operator
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    // BEAST
    withName: 'BEAST' {
        publishDir = [
            path: { "${params.outdir}/beast/" },
            mode: params.publish_mode,
            // Groovy ternary operator: https://groovy-lang.org/operators.html#_ternary_operator
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    // BEAST_LOG_PARSER
    withName: 'BEAST_LOG_PARSER' {
        publishDir = [
            path: { "${params.outdir}/beast_log_parser/" },
            mode: params.publish_mode,
            // Groovy ternary operator: https://groovy-lang.org/operators.html#_tern
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}